<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Navbar</a>

    <!-- Example single danger button -->
    <div class="btn-group">
      <div
        class="  dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
      <img src="https://yt3.ggpht.com/yti/AOXPAcVqxAX1L2T3cwf_CNxAkuBonZbCqcWGCqgwPA=s88-c-k-c0x00ffffff-no-rj-mo" alt="" class="avata-img">
        
      </div>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/course/create">Post courses</a></li>
        <li><a class="dropdown-item" href="/me/stored/course">Update courses</a></li>
        <li><a class="dropdown-item" href="#">Log out</a></li>
        
      </ul>
    </div>

  </div>
</nav>